Source: porcorunha
Section: user/other
Priority: optional
Maintainer: Simon Pena <spena@igalia.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://gitorious.org/spena-playground/porcorunha

Package: porcorunha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Muévete usando el transporte público en A Coruña
 .
  • Consulta información sobre líneas
  • Busca paradas a tu alrededor, por nombre o usando el mapa
  • Comprueba cuánto falta para que llegue el bus
  • Obtén la mejor ruta para ir a tu destino
XSBC-Maemo-Display-Name: Por Coruña
XB-Maemo-Icon-26:
  iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKRWlDQ1BJQ0Mg
 cHJvZmlsZQAAeNqdU2dUU+kWPffe9EJLiICUS29SFQggUkKLgBSRJiohCRBK
 iCGh2RVRwRFFRQQbyKCIA46OgIwVUSwMigrYB+Qhoo6Do4iKyvvhe6Nr1rz3
 5s3+tdc+56zznbPPB8AIDJZIM1E1gAypQh4R4IPHxMbh5C5AgQokcAAQCLNk
 IXP9IwEA+H48PCsiwAe+AAF40wsIAMBNm8AwHIf/D+pCmVwBgIQBwHSROEsI
 gBQAQHqOQqYAQEYBgJ2YJlMAoAQAYMtjYuMAUC0AYCd/5tMAgJ34mXsBAFuU
 IRUBoJEAIBNliEQAaDsArM9WikUAWDAAFGZLxDkA2C0AMElXZkgAsLcAwM4Q
 C7IACAwAMFGIhSkABHsAYMgjI3gAhJkAFEbyVzzxK64Q5yoAAHiZsjy5JDlF
 gVsILXEHV1cuHijOSRcrFDZhAmGaQC7CeZkZMoE0D+DzzAAAoJEVEeCD8/14
 zg6uzs42jrYOXy3qvwb/ImJi4/7lz6twQAAA4XR+0f4sL7MagDsGgG3+oiXu
 BGheC6B194tmsg9AtQCg6dpX83D4fjw8RaGQudnZ5eTk2ErEQlthyld9/mfC
 X8BX/Wz5fjz89/XgvuIkgTJdgUcE+ODCzPRMpRzPkgmEYtzmj0f8twv//B3T
 IsRJYrlYKhTjURJxjkSajPMypSKJQpIpxSXS/2Ti3yz7Az7fNQCwaj4Be5Et
 qF1jA/ZLJxBYdMDi9wAA8rtvwdQoCAOAaIPhz3f/7z/9R6AlAIBmSZJxAABe
 RCQuVMqzP8cIAABEoIEqsEEb9MEYLMAGHMEF3MEL/GA2hEIkxMJCEEIKZIAc
 cmAprIJCKIbNsB0qYC/UQB00wFFohpNwDi7CVbgOPXAP+mEInsEovIEJBEHI
 CBNhIdqIAWKKWCOOCBeZhfghwUgEEoskIMmIFFEiS5E1SDFSilQgVUgd8j1y
 AjmHXEa6kTvIADKC/Ia8RzGUgbJRPdQMtUO5qDcahEaiC9BkdDGajxagm9By
 tBo9jDah59CraA/ajz5DxzDA6BgHM8RsMC7Gw0KxOCwJk2PLsSKsDKvGGrBW
 rAO7ifVjz7F3BBKBRcAJNgR3QiBhHkFIWExYTthIqCAcJDQR2gk3CQOEUcIn
 IpOoS7QmuhH5xBhiMjGHWEgsI9YSjxMvEHuIQ8Q3JBKJQzInuZACSbGkVNIS
 0kbSblIj6SypmzRIGiOTydpka7IHOZQsICvIheSd5MPkM+Qb5CHyWwqdYkBx
 pPhT4ihSympKGeUQ5TTlBmWYMkFVo5pS3aihVBE1j1pCraG2Uq9Rh6gTNHWa
 Oc2DFklLpa2ildMaaBdo92mv6HS6Ed2VHk6X0FfSy+lH6JfoA/R3DA2GFYPH
 iGcoGZsYBxhnGXcYr5hMphnTixnHVDA3MeuY55kPmW9VWCq2KnwVkcoKlUqV
 JpUbKi9Uqaqmqt6qC1XzVctUj6leU32uRlUzU+OpCdSWq1WqnVDrUxtTZ6k7
 qIeqZ6hvVD+kfln9iQZZw0zDT0OkUaCxX+O8xiALYxmzeCwhaw2rhnWBNcQm
 sc3ZfHYqu5j9HbuLPaqpoTlDM0ozV7NS85RmPwfjmHH4nHROCecop5fzfore
 FO8p4ikbpjRMuTFlXGuqlpeWWKtIq1GrR+u9Nq7tp52mvUW7WfuBDkHHSidc
 J0dnj84FnedT2VPdpwqnFk09OvWuLqprpRuhu0R3v26n7pievl6Ankxvp955
 vef6HH0v/VT9bfqn9UcMWAazDCQG2wzOGDzFNXFvPB0vx9vxUUNdw0BDpWGV
 YZfhhJG50Tyj1UaNRg+MacZc4yTjbcZtxqMmBiYhJktN6k3umlJNuaYppjtM
 O0zHzczNos3WmTWbPTHXMueb55vXm9+3YFp4Wiy2qLa4ZUmy5FqmWe62vG6F
 WjlZpVhVWl2zRq2drSXWu627pxGnuU6TTque1mfDsPG2ybaptxmw5dgG2662
 bbZ9YWdiF2e3xa7D7pO9k326fY39PQcNh9kOqx1aHX5ztHIUOlY63prOnO4/
 fcX0lukvZ1jPEM/YM+O2E8spxGmdU5vTR2cXZ7lzg/OIi4lLgssulz4umxvG
 3ci95Ep09XFd4XrS9Z2bs5vC7ajbr+427mnuh9yfzDSfKZ5ZM3PQw8hD4FHl
 0T8Ln5Uwa9+sfk9DT4FntecjL2MvkVet17C3pXeq92HvFz72PnKf4z7jPDfe
 Mt5ZX8w3wLfIt8tPw2+eX4XfQ38j/2T/ev/RAKeAJQFnA4mBQYFbAvv4enwh
 v44/Ottl9rLZ7UGMoLlBFUGPgq2C5cGtIWjI7JCtIffnmM6RzmkOhVB+6NbQ
 B2HmYYvDfgwnhYeFV4Y/jnCIWBrRMZc1d9HcQ3PfRPpElkTem2cxTzmvLUo1
 Kj6qLmo82je6NLo/xi5mWczVWJ1YSWxLHDkuKq42bmy+3/zt84fineIL43sX
 mC/IXXB5oc7C9IWnFqkuEiw6lkBMiE44lPBBECqoFowl8hN3JY4KecIdwmci
 L9E20YjYQ1wqHk7ySCpNepLskbw1eSTFM6Us5bmEJ6mQvEwNTN2bOp4WmnYg
 bTI9Or0xg5KRkHFCqiFNk7Zn6mfmZnbLrGWFsv7Fbou3Lx6VB8lrs5CsBVkt
 CrZCpuhUWijXKgeyZ2VXZr/Nico5lqueK83tzLPK25A3nO+f/+0SwhLhkral
 hktXLR1Y5r2sajmyPHF52wrjFQUrhlYGrDy4irYqbdVPq+1Xl65+vSZ6TWuB
 XsHKgsG1AWvrC1UK5YV969zX7V1PWC9Z37Vh+oadGz4ViYquFNsXlxV/2Cjc
 eOUbh2/Kv5nclLSpq8S5ZM9m0mbp5t4tnlsOlqqX5pcObg3Z2rQN31a07fX2
 Rdsvl80o27uDtkO5o788uLxlp8nOzTs/VKRU9FT6VDbu0t21Ydf4btHuG3u8
 9jTs1dtbvPf9Psm+21UBVU3VZtVl+0n7s/c/romq6fiW+21drU5tce3HA9ID
 /QcjDrbXudTVHdI9VFKP1ivrRw7HH77+ne93LQ02DVWNnMbiI3BEeeTp9wnf
 9x4NOtp2jHus4QfTH3YdZx0vakKa8ppGm1Oa+1tiW7pPzD7R1ureevxH2x8P
 nDQ8WXlK81TJadrpgtOTZ/LPjJ2VnX1+LvncYNuitnvnY87fag9v77oQdOHS
 Rf+L5zu8O85c8rh08rLb5RNXuFearzpfbep06jz+k9NPx7ucu5quuVxrue56
 vbV7ZvfpG543zt30vXnxFv/W1Z45Pd2983pv98X39d8W3X5yJ/3Oy7vZdyfu
 rbxPvF/0QO1B2UPdh9U/W/7c2O/cf2rAd6Dz0dxH9waFg8/+kfWPD0MFj5mP
 y4YNhuueOD45OeI/cv3p/KdDz2TPJp4X/qL+y64XFi9++NXr187RmNGhl/KX
 k79tfKX96sDrGa/bxsLGHr7JeDMxXvRW++3Bd9x3He+j3w9P5Hwgfyj/aPmx
 9VPQp/uTGZOT/wQDmPP87zWUggAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAAAd0SU1FB9wCGxYRDWEzdWUAABRZSURBVHjazVt7
 dF1Vmf99e59zb95NmvSRhiYpbUhHqKiMVYuPKoKDT0QU8YWuUcCZUZwZFz6Z
 WY4zzlq6dPA1SnVQdGRgFEdQBK04IBSlPqFIH2lpkyZN06ZJ82hy7z17f9/8
 cV77nHvTllLXcNfaOeeenHv29/32997fIfwJPlc/9GKtSPsEUiD4AAggjwAK
 76Dob3gUSPTL+AgRiIkuBCLCLDa4ccMv7OmmlU7lR1c99CJs2vBA8v2ahzYq
 RWoVgTqJqBfA2gqX+4wEHZZNPyAFFl6SsimwYiASXiEiaPIcYgiK1GECKpr8
 nZ7yxwuqOADQDhHeJ5BRFt771Q338UI0/UkBSFf6Jes16csArCvZue55M9M5
 z3NtZTuPgCtgsQgkgIjAcBAuLEACgWEO11tCIjylYnKEQOQpDyCCTz608uBR
 AUVdh3rdONngNY/W6YYhANus2O/duOH+rX9yCXjPlvPxtfO3hOcPvfByBX29
 kUrPZPlQw0TlkCqZOQACBosIKGTVeYAsPLmcaPLoBlIQBUUgQp2ux+LCUl5c
 t2zOo8Igw37yaxsevC1P62kD4F33b1CepgsZ/PkKl/oPlw5gvDwmAIhSxa1J
 +EIMPaVlouQx0lFcSkvqulDUdTsV1LWWsfmmF2/hpwzAO+99Pr55wa/wl/e/
 sAckH50z01cdKY9hvHRIAJCikBmpxZQszLDISQDhUEZ5KpXzWwI4AWIJtdct
 Q6O3aBMRferrL35wMObhSQNw5c+eh5tf/jDede8LNjLZTeOl0b7DpVEEbKAo
 t9q1zqXGPXKSIFB6pPx1yoHiHFkAX3lYUr8cHXUrBjTpq77xsl/eF/Ny0gC8
 /afr8e2LtuLKn61/qQA/HZod8KYrk5GBivR7AeaT/3HumgOAuP8/gXxmGHWZ
 p9w1lU4HgFqKrehu6jOK1EU3v/zh/415OmkJePtP1m8UyOZ90zv0rJnJSKFI
 jZVjh7GIabHhBIo8eNHQ5IURgKhkcmaGQMBiYdjASADDBrGByTMcf4+Zhspe
 j2lsKjRJb8taq5S68NsXbb3v5CXg7vU9Vuzm4dk9fVPlo1DOQ119J2d1RQBr
 AWOAoiJ0NvVieeNKdDWvQu+ifnS3rMbKRWvQ2dSNoleHBr8pmX0+mEPFlHDo
 2Cj2T+3B/qnd2De5C/un9mB0ZggHZ4cwXS7B8wCtIsaVw3B8LQYh+h8LsKi4
 CGc0rx7wlHfhty/eOnhcAN5423PQsspX84f4K+PzB646NDdyXOMlEq64tcCx
 EvCMjjV4Sc9rsb7rpehq7sWK5h40FppPOc6omDIOTA/iwPQg/nDgl/j57jux
 df9vUSwABT9lPAGkFjgAljZ2oqO+a1PTMvXeid0B3/6W3y8sAW/67nmvKKvZ
 e/ZP74ERE+p8LSMWiboxwKqWPlx3/r/h2SvOR73XCF/7AICj80fAwrVd5El8
 RAQdTUsBAJYNyqaEJ47swGfu/RAe3Ptz+D5AOhoqPUf8nQAhiEeauhethm+a
 Lv7em393z3FV4LLbz91xaG64f7J0BAvqvYQAkBBe0/cO/MuF38w84+jcBK65
 5bV4cGALYB21kZyhlON4gXj1Whbhjvf/Fj0dqyEioMgafe2BT+NL938CJZ4L
 GfeiEZ87kiAEtNUtxtLGM3beftmja/MeFa/7+jND5m971uWVoNQ/MXtEYEMj
 JhZgk57H3+fngSvXfTBhXpwl3nt4FwaGtsMrA54B/ADwTXjuWcBnZ0iNwYAf
 3TczPYNfbP9JkjPE87znRdfhQxd8FqVZwJbCwWWAK9EIADEhrbDAxOyEVIJS
 /6X/de7lAPDqr5yTAnDHux+NV+T6iWOHIAyCDX8o0QMQHSUAbAVY1dyD9zz3
 ownz5PiJ7sVnYt2y58E3BXiVAjwTDt8W4HM0pAAf0bHWQAEe+zijeRWev2aj
 ExSlILzlBdfg2cufi/IMwPMAOyBIEA6YkAexoInZQyDgHwDgR+99DADgxQ++
 9JZnrq+YSs/ksUkhivR+AdEPKsCGla9AnV9fxTwALG5agi+/+79RCcpPLf0S
 QCsPzfUt2UdEIBAR3nDeu7Dl8V9DR1EpCaAk9ABKQnsACVVh8thRWVzX2f36
 /1z3vP9527aHMwDA4LLp8mSDcMo8IXxQnLFxbPgCoKftLHjKT4gpBfMJw8nv
 E0d9iqknASKM6bmjyXO10miqa0qeffYZz0FlHpACYCXklxGBELlq6MQr0PTc
 ZMPi+iVvAJAC8Jr/eIZikXVTc0cVbG23l0iCBcgASxtWQEVEjEwM4vpb/ga/
 2/UrWJOWMiQKZTNuimLFcwKZBVY/mZPDc7aCzraV+Me3fg4vWncBAKCrvRsq
 CMU+ZtpNFeADxGmwNDV3VLUWO9a9dtPZ+s6r/mi9iJJVpUqpu1IpZ9xV3lpL
 BECjLmBR/eLkvq0DD+DOh+9CMYr+YheZRG46CwJ0JA3HAYAklT7Ez2Rg/Ogk
 bt787wkARb8Oy1paMFOeToKimFkVexMd0k4KqFQqKFXmu31V1wtgjwonk85y
 Zb5TOILQHTY72ADNfitaiq2Rf7YYOTIExdG8sR4SoBSgPUDraHjh8HTt68nQ
 gIrv09nr2gOmjk1gdn4GiFSia3EPODbYsdGLPEBkABP6hQXlcqmTIJ3JGlgr
 vaVKqY2NCFuganA0TPi9yW9Fc11rEqAMHx4MxTQSVTc2J3KCE509hxPEKB2O
 OKCBcvy6c7/SwNT8JKaOhXbBUx5WLO6GNeH8zDmXbVOpZAuwESlVSm3WSi8A
 eBd9sU+LkbWVoALmnJ2KxJ6QiqBYoLnYipYIAGMNhscH06yU0giDdGRlIsLh
 hKpxqkv53D+XUic2w6ZFkOnSUUzPTaILK6G1h64l3eDIQ7nMw6SBkEQ2RwhU
 CSoQI2sv+kKf9sDwK1zpM4EJfT3VNoBx3A8DtBRa0VLf5kjAUOhykE4Y67pS
 ufBU5bK649gAN/kiCkFQEgIwNR9LgMYZ7d1gm6ptDAApQBywYwtpjEWlUulT
 UL4nIspY02ENg9mp00ku1Y2METPQUlyMglcIAbAWw4f2pb+JxT5e6fzKx+Fp
 VFw4bqkmsifi5vsCTJemMD03GQqa0uhsX5mk4mLDOcQA7BpCASSKCaxhGGs6
 fOUrjy18a2y/NTaN22t5gUjHNROWL+pK7pkrHcPYRAkt9Wm8ACclrcrW3NWX
 BVyhpFabOXVrsU0pG+Dw9Fhye1vTYjTXaRixod+PaKVYIkyoijFtlgyssf3a
 830lLMQsBWYJdcgVI/d7dE3Bw4rW7mTyJw7uSvRWJFvJqRJ3ykVDdJyaKaVM
 Z4ohkcE8cGQIxhoAQEtjK5ob2qrojmnOXw+NuxSEhZQY8djwEjac6pDDeIxg
 /AAlWQB2DT8euhLOFUhrVIxiSXKPGWLZiSEkW11yAVYEDI8PwnIEQEMrFtW3
 Jl7INYSJJ3BcOlsLtrxErHgeixAzQ1jC8Bo1ipmcBiTa01jRlgIwMLIjAYAo
 NTSx0SSOVlM59zzZ8jhn1ZAEGIkkoOgDixpb0dLQGsW+cQwfAaAiGmwEoopw
 ZyZTtspjy7GvpMTqono1YwSV56GrvScFYP/2MASNjA8hdVlQYexAcUzOgD2B
 9a9dGHFoiMDYf2hfIgGLGlrRUt8KtmkwGBvcZOVjskJJIraAhcBjK2DLYdSU
 Z96VgAh9xR7amtoT4nYP7QBxuuKikLjEJOGOrieW/MlmRY4bFgbIAiNj+2Ft
 yFldsR5NxRaISQx+IgmSlzgFsEQ8Q+CFBQ4Gs2RtUo08IK4CuTWAlz7rYtxw
 603wtWP8oqoMvDQOEOW4pJNND6WGFFggCIALzv1zFPxiQoevCqHIu4FYbARd
 I8xhjsFGIAR4YIGwhIFDrvpLyImera7n/+vVX8IH3vhxBKYCEKU80VPdel34
 o0ihvWUJGoqNKUBRLpA4IuUEZLHkRMAIAcKhMfFswOAgBIBzelfLBrBNixKx
 +PV0rsL/x8ctxsQAxJkvR8kY2zTpjNVQCOBAwIrhsUgqXgvZABcEwdPm41ai
 4lqlptTyZ8JhZy8jXmDmyAhCCMSUKWxW2QA3sHgafmIAKAp/mcL0OZbcRL1j
 tRACi8ATKxAjyFeCFrQBT2MA4mROIsPLJtxJgkq36WJ9ECMQxACwgDlUqQVt
 gHWSoiehm6db1xe8HkesOip82NATJXFAHFpLXGoUEgg8ZpHoJlpwu9vJD7KS
 EhIwOLIXA4O70NbchvPWrc9UbU8n84/vegwjB4exYlkXnnHWOdnnO6E0cS4S
 dOoJoaUnEgaERDxmMcI4DNASYUn5r1EQlciHuoT9dMuP8aFPX4uh4SG0NrTh
 VS+7BF/4xFdPmwTEz/nyN76AL990A0bGhrG0Yyn+/poP491vvQZa6QhwJ1iK
 6oma0yqRitxhGBMQhHHYihjFRkQsKmDK6Lrk64Lud4ewKz98GQb27UalXMHY
 +Bi+8/1v4tY7vnNa9fuRx/6AG77yGezZuxeVcoD9IyP4wD++D0cmjmSBdpKo
 JDp1IkiXB7EScCCiAA4g2AmmTOYkTk0wTiHjaDD+7Bt5AuNH5zMRXiWo4JHt
 vz+tABwYO4CR0dHEKCsCyjPA9t1/rHZaTgVLnDplmgYDYAUI7RTLgWILhtA4
 CVVXhKtQy0aCvV1norWpAGuzduPsvnNOKwDLOpahvbU9iUMsA349sLqnr3YL
 jpvBiuO9Ij5CXmncBsKKwYEIBlwVEJt1feI8QBwbAACf/9gm+JowOw0cmwRe
 /xdvwhtfc8VpBeDcc56Fa97516iUgdJ0uDX30Ws/huVLllfHLrncBba6OBL5
 +AFjbeDt/MZR239F2w4lCuCwEiVuL49jWKSGDbj8lW/DC5+zEdt2PIKerlVY
 07sGxULxtHoBrTWuu/YjePOlb8G27Y9ibd9arO7tg+/7VYFbrPeJJ4jORUWp
 MEMUK+Iyduz7/qzxwmYH2UekJsFoE6m9K5Sp0uQSk+4VPehe0ZORjNPtBTzt
 YfWqNVi9ak0yTxXIedF3UnTiJB0mIjUplgedjREeJVGjrsFwjYkbDeYDoTyj
 pzMAOtE8eebdcpprBN1Nm1DE1UEbyGgCgOfpvcRqSIlKjUVmOymnQ0/HULhW
 bdE9j2hXrECshuZH7N4EgJ23TjKUbPOUz8I1JIBzBcqnJQLVw+1ZjCXC0x5D
 ybaDv5kziOo24T1Gvqe1916g3AiAkt0YqVWgA0rlUlQPqKsyWtYaGGNPW0FE
 kYLv+1VqUK6UISKoK9aB2Z5MM4Zo7c2ZMt9e85beS5oeK5VLZxtjQl2hHJoM
 FHQRl13wNpTnS4Ao3PjJb2VmsNbi9h99Fz+85wfwPL9qp+cU3AD6zuzH+6/+
 WzQ1NmX+9ZFPfhBj42PwfA8PbL0PQwf3QfnRpqof7jDHG6zQgO9r1NXVPT54
 57GzMwD0X92EnTfOoueShsut4VtL5VJSIs8XJdkClVLYhAQLzD2a5SoIAnzs
 U9fhM5+7AVTMG7InXxNkAc5f/1zccfPdaF/cnvn3Wc/vxe59gyANFIqALoTM
 qkLaNaa8ZHtO6uuKREq9dfiu+VvIA4mBeACw88ZZAMDgD+ZuW/nq+k94Wvcb
 a9Od4XgBo+JioRBGk8RUU+w8zwOKIVGZjpD87hAdR0Acd1wo+jXBKhZ9FIvO
 9jmlx3wvsac1AbRr+K75WwAoiTpxvfxDdSOu5VnvHhOWnKXKAzn7ftZKlf5D
 AMMmRT/XvprZ5lpIEiQb10NzNuKL25rYJHuPSReKs4UWzSekQForqAL+Loe1
 ZLYmV11Rj9nd2KyU2qS1Dkmj6hUmhBOWLbBz7/aq7q1Htv8OXiHXuBjpJfmA
 igYVouHnRnRdFcL7Dk4cwOGJsQwZ4xPjmJqdTHVc5ZopVCJ5pLUGkb7p4L2V
 e1Uhy5HOdHg+ZjA3aqTlLG8bEb0Kwu0sjvjniqWeBn79yC9xzppz0bXsDBw+
 cgj/9MWP4/t3fxde1K2Z6KJ2jjp7zSXcZSBe2aljUxgeHcK5f3Ye2ts68MTQ
 Hnzwn9+HPw5sA5SEeu90kLg9SZ5H8Dxvtz3GfzWz247na5oLmqGuVxU3CvPm
 wBrNLOlrMdYpPESJUkOhEQVdBxtYTM1Mgw1n9gbyW+SZVvcTqIAb3jbVt8BX
 PipBgNnZGXC0OomKeSkQpAHtkfi+ZzmgV4/dV9ns1oTcDaRazGPkrjI6L/Zf
 BuAn1hrPcpQaCSguO7kRYpwxipsvuH39sYhSjQ6REwDgAp7UJ6V6jkh6BAqk
 PYLne8ZW8LrDvwh+TAqecCZTqFaB+DMzYLHilQWM3h3sbV6jHlRKbQChHSJp
 S4/jHsh9k8NtjMiLtmOs8k0T7sg0WeXfAwAyrfFU3XxFnq+gtX6Cy3jH4QfM
 j5WPgtjsyh8XgBiEMy7xceBHZl/zav1DRdRIhPOSh8SJWO41FrcrJM94VZ9Q
 7qWHjGTkVYUc5t05UjBFe0Ser0BQ3wom5X1HttpfQ0FHzNfsTT/pYLW5n3RT
 r75QIJ8HcBZbhrEikDBsFqnOF6rEvUaHaK3kUWrZAanRPZqEt0RKKxCwx5bw
 kcnf259xGeVcLahm68ZJA+C3gILp8MfLLtRXEHA9CCut5QZmUQ5x2VcmKdc3
 hHTb+mRenCTO7E+ENijZACZWpOZBGOaKfHZ8C98KgCP1NE5eu+A7aqeSriSB
 xJKN6nzy6FIC1onIShFZDqBVoi5lqQZB3NjCtWO5XQlySaVkTwuA4CgJjUFo
 vzC2m2Pyw8nf8EPRvpBfo4bNx+tJoVNgHlAgcCpOxQ6qbzqLziRFK0hjJWnp
 B7BGSNoB9BGhAELHk5z1MIAAwE4SGodgD4R2coD9tiyHZrbLYDAtc5Ed004z
 DWcT+OML2alKQL4LIJPmFJfB91vIV0WQKsBXPkT50RtzYX4rsR0gXU2cCERs
 6FS5BCMWXJmEmd0pJmsuq7QoX7g7IQD/B8PK5UvnBUbHAAAAAElFTkSuQmCC
